{% extends "base.html" %}
<body class="" data-gr-c-s-loaded="true">
{% block content %}
<main role="main">

  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row">


      {% for product in category_products %}
        <div class="col-md-4">
          <h2>{{ product.name }}</h2>

          <a href="{% url 'product' product.id %}">

            <img src="{{ product.img.url}}" height=225">

          </a>

          <form>
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
      {% endfor %}
    </div> <!-- /container -->
    {% if prev_page_url %}<a class="button button-primary" href="{{ prev_page_url }}">⟵</a>{% endif %}
      <a class="button disabled" href="">{{ current_page }}</a>
    {% if next_page_url %}<a class="button button-primary" href="{{ next_page_url }}">⟶</a>{% endif %}

  </div>
</main>
{% endblock %}
</body>
