{% extends "base.html" %}

<body class="" data-gr-c-s-loaded="true">
{% block content %}

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас!</p>
    </div>
  </div>

  {% for article in articles %}
  <div class="container mb-5">
    <!-- Example row of columns -->
    <div style="margin-bottom: 20px">
      <h2>{{ article.title }}</h2>
      <p style="color:grey">Дата публикации: <time>{{ article.date }}</time></p>
      <p>{{ article.text }}</p>
      <a href="">Читать подробнее ></a>
    </div>
    <div class="row">
      {% for product in article.products.all %}
        <div class="col-md-4">
          <h2>{{ product.name }}</h2>

          <a href="{% url 'product' product.id %}">

            <img src="{{product.img.url}}" height=225">

          </a>

          <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
          </form>
        </div>
      {% endfor %}
    </div>
  </div> <!-- /container -->
  {% endfor %}

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Не знаете что одеть летом?</h1>
      <p>Вот что мы можем предложить:</p>
    </div>
  </div>


  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
      {% for product in clothes.0.products.all %}

      <div class="col-md-4">
        <h2>{{product.name}}</h2>

        <a href="{% url 'product' product.id %}">

          <img src="{{product.img.url}}" width="180">

        </a>

        <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
    {% endfor %}
    </div>
  </div> <!-- /container -->

</main>
{% endblock %}
</body>